.fiche{
    display: flex;
    gap:40px;
    align-items: flex-start;
}

.image-detail{
    width: 320px;
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.1);
}

.infos-pokemon {
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.infos-pokemon h1{
    text-align: left;
}

.infos-pokemon table {
    width: 100%;
}

th, td { padding: 10px; border-bottom: 1px solid #eee; }

.bouton-carte{
    display: flex;
}