.header-modale{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.fermer-modale{
    background: none;
    font-size: 20px;
    font-weight: 750;
}

.decision-envoi{
    display: flex;
    justify-content: space-evenly;
}

.annuler-envoi{
    margin-top: 20px;
    background-color: rgb(139, 139, 139);
    font-weight: 800;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    display: block;
    margin: 20px auto 0;
}

.content-modale{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.select-destinataire{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 25px;
}

.select-carte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 25px;
}

.header-modale h2 {
    margin: 0;
}

.modale{
    background-color: white;
    border-radius: 12px;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 500px;
    margin: 40px auto;
}

.modale-overlay{
    display: none;
}

.ouverte{
    display: block;
}